$kia-red: #BB162B;
$black:#000000; //Background, Text, UI, Accents
$charcoal: #1F1F1F; // Background
$med-gray:#666666; // - Text, UI, Accents
$gray-UI: #999999;
$white: #ffffff;
$light-background: #F2F2F2;
.theme1 {
    $kia-red: rgb(151, 17, 35);
    $black: #000000; //Background, Text, UI, Accents
    $charcoal: #1F1F1F; // Background
    $med-gray: #666666; // - Text, UI, Accents
    $gray-UI: #3b2424;
    $white: #0a0101;
    $light-background: #000000;
}