.footer {
    background-color: $charcoal;
    padding: 20px;
    color: $footer-color;
    text-transform: capitalize;
    @media screen and (min-width: 767px) {
        padding: 65px;
    }
    .kia-logo2 {
        float: left;
        height: 30px;
    }
    .search-div {
        float: right;
        border-bottom: 1px solid $med-gray;
        &::after {
            content: '';
            background-image: url('search.svg');
            background-size: 18px;
            background-repeat: no-repeat;
            height: 18px;
            width: 18px;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
    &-search {
        border: 0;
        padding: 0 5px 2px;
        background-color: inherit;
    }
    .underline {
        &::after {
            bottom: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        &.footer-left-side,
        &.footer-right-side {
            padding: 20px 20px 0;
        }
    }
    li {
        padding: 5px 0;
        list-style: none;
        cursor: pointer;
        @media screen and (min-width: 767px) {
            width: fit-content;
        }
    }
    &-right-side {
        width: 100%;
    }
    &-left-side {
        font-size: 20px;
    }
    &-right-side-div {
        border-top: 1px solid $med-gray;
        &:last-child {
            border-bottom: 1px solid $med-gray;
            @media screen and (min-width: 767px) {
                border-bottom: 0;
            }
        }
        ul {
            opacity: 0.5;
        }
        @media screen and (min-width: 767px) {
            float: left;
            border: 0;
        }
        li {
            @media screen and (max-width: 767px) {
                padding: 10px 0;
            }
        }
    }
    &-bottom {
        .col-sm-4 {
            float: left;
            padding: 20px 20px 0;
            opacity: 0.5;
            @media screen and (min-width: 767px) {
                padding-top: 40px;
            }
            &:nth-of-type(2) {
                @media screen and (max-width: 767px) {
                    padding-top: 0px;
                }
            }
            &:first-child {
                opacity: 1;
            }
        }
        li {
            padding-right: 20px;
            float: left;
            margin-right: 16px;
            img {
                max-width: 45px;
            }
        }
        .text-centre {
            @media screen and (min-width: 767px) {
                text-align: center;
            }
        }
    }
    li[aria-expanded="true"] {
        .oi {
            &::before {
                content: '\E037';
            }
        }
    }
    .oi {
        color: $white;
        float: right;
        top: 6px;
        &::before {
            content: '\E034';
        }
    }
}