.footer {
    background-color: $charcoal;
    padding: 20px;
    color: $white;
    text-transform: capitalize;
    @media screen and (min-width: 767px) {
        padding: 65px;
    }
    .kia-logo2 {
        float: left;
        height: 30px;
    }
    .search-div {
        float: right;
        border-bottom: 1px solid $med-gray;
        &::after {
            content: '';
            background-image: url('search.svg');
            background-size: 10px;
            height: 10px;
            width: 10px;
        }
    }
    &-search {
        border: 0;
        padding: 0 5px 2px;
        background-color: inherit;
    }
    .underline {
        &::after {
            bottom: 0;
        }
    }
    ul {
        margin: 0;
        padding: 0;
        &.footer-left-side,
        &.footer-right-side {
            padding: 20px 20px 0;
        }
        li {
            padding: 5px 0;
            list-style: none;
            width: fit-content;
            cursor: pointer;
        }
    }
    &-right-side {
        width: 100%;
    }
    &-left-side {
        font-size: 20px;
    }
    &-right-side-div {
        border-top: 1px solid $med-gray;
        &:last-child {
            border-bottom: 1px solid $med-gray;
            @media screen and (min-width: 767px) {
                border-bottom: 0;
            }
        }
        ul {
            opacity: 0.5;
        }
        @media screen and (min-width: 767px) {
            float: left;
            border: 0;
        }
    }
}