header {
    height: 50px;
    background-color: transparent;
    position: fixed;
    max-height: 100%;
    width: 100%;
    z-index: 1;
    color: $light-background;
    border-bottom: 1px solid $gray-UI;
    transition: background-color 0.5s linear;
    .kia-logo2 {
        display: none;
    }
    .kia-logo,
    .kia-logo2 {
        height: 30px;
    }
    &.theme {
        transition: background-color 0.8s linear;
    }
    &.theme,
    &.expanded {
        background-color: $light-background;
        color: $black;
        .kia-logo {
            display: none;
        }
        .kia-logo2 {
            display: initial;
        }
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }
    @media screen and (max-width:767px) {
        padding: 10px 0;
    }
    &.expanded {
        border-bottom: 0;
    }
}

nav {
    max-height: 100%;
    text-align: center;
    text-transform: capitalize;
}

ul.navigation {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 40%;
    padding: 10px 0;
    text-align: left;
    li {
        list-style: none;
        display: inline;
        padding: 0 15px;
    }
    &.secondary-nav {
        text-align: right;
        li:last-child {
            border-left: 2px solid $kia-red;
        }
    }
    @media screen and (max-width:767px) {
        display: none;
    }
}

.toggle-nav {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 50px;
    width: 50px;
    opacity: 0;
    z-index: 1;
}

.nav-icon1 {
    width: 35px;
    height: 40px;
    position: absolute;
    top: -100%;
    right: 10px;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-icon1 span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: $light-background;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    .theme & {
        background-color: $black;
    }
}

.nav-icon1 span:nth-child(1) {
    top: 18px;
}

.nav-icon1 span:nth-child(2) {
    top: 30px;
}

.toggle-nav:checked+.nav-icon1 {
    span {
        top: 24px;
        width: 20px;
        background-color: $black;
    }
    span:nth-child(1) {
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }
    span:nth-child(2) {
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }
}

.menu-container {
    display: block;
    height: 0;
    transition: height ease-in-out 0.5s;
    position: relative;
    overflow: auto;
    top: 10px;
    width: 100%;
    clear: both;
    ul {
        padding: 25px 20px 0;
        margin: 0;
        display: block;
        width: 100%;
        height: 0;
        li {
            list-style: none;
            display: block;
            padding-bottom: 15px;
        }
        &:first-child {
            font-size: 22px;
            font-weight: bold;
        }
    }
}

.toggle-nav:checked~.menu-container {
    height: 100%;
    background-color: $light-background;
    color: $black;
    ul {
        height: 100%;
    }
}