.heroBanner {
    .carousel-indicators {
        justify-content: flex-end !important;
        margin-right: 0 !important;
    }
    .carousel-indicators li {
        text-indent: 0 !important;
        margin-right: 2% !important;
        color: #FFF !important;
        background-color: transparent !important;
        width: 65px !important;
    }
    .carousel-indicators .active {
        background-color: red !important;
    }
    .carousel-caption {
        text-align: left !important;
        top: 10% !important;
        left: 5% !important;
        right: 0 !important;
        width: 30% !important;
        @media screen and (min-width: 767px) {
            top: 0;
            padding-top: 5px;
            width: 40%;
        }
    }
    h5 {
        font-size: 20px !important;
        line-height: 20px !important;
        margin-bottom: 20px !important;
        @media (min-width: 768px) {
            font-size: 30px !important;
            line-height: 30px !important;
            margin-bottom: 20px !important;
        }
        @media (min-width: 992px) {
            font-size: 45px !important;
            line-height: 45px !important;
            margin-bottom: 20px !important;
        }
        @media (min-width: 1200px) {
            font-size: 60px !important;
            line-height: 60px !important;
            margin-bottom: 20px !important;
        }
    }
    .small-text {
        font-size: 14px !important;
        line-height: 14px !important;
        @media screen and (min-width: 767px) {
            font-size: 12px !important;
            margin-bottom: 2px;
        }
    }
    .bold-text {
        font-weight: bold !important;
        @media screen and (min-width: 767px) {
            font-size: 13px;
        }
    }
    .sub-text {
        color: #E5E5E5;
        font-size: 14px;
    }
    .btn {
        font-size: 10px !important;
        font-weight: bold !important;
        border-radius: 0 !important;
        margin-right: 15px !important;
        background-color: $light-background;
        @media screen and (max-width: 767px) {
            padding: 16px 25px !important;
        }
    }
}