.carousel1,
.carousel2,
.carousel3 {
    max-width: 1680px;
    margin: 0 auto;
}

.carousel1 {
    margin-bottom: 50px;
    .carousel {
        padding-bottom: 80px;
    }
    .carousel-indicators {
        justify-content: left;
        margin-left: 40px;
        @media screen and (min-width: 767px) {
            margin-left: 100px;
        }
        li {
            background-color: $gray-UI;
            width: 40px;
            height: 2px;
            &.active {
                background-color: $charcoal;
            }
        }
    }
    p:not(.carousel1-desc) {
        line-height: 1;
    }
    &-year {
        position: absolute;
        top: 130px;
        color: $white;
        width: 100%;
        text-align: center;
        font-size: 13px;
        text-transform: capitalize;
    }
    &-head {
        position: absolute;
        top: 160px;
        color: $white;
        width: 100%;
        font-size: 38px;
        font-family: designk-bold;
        text-align: center;
    }
    &-desc {
        position: absolute;
        bottom: 50px;
        width: 100%;
        text-align: center;
        @media screen and (max-width: 767px) {
            padding: 0 80px;
            line-height: 1.5;
        }
    } // &-price {
    //     position: absolute;
    //     bottom: 20px;
    //     width: 100%;
    //     text-align: center;
    // }
    &-btns {
        @media screen and (max-width: 767px) {
            text-align: center;
        }
    }
    &-disclaimer {
        margin: 20px auto;
        position: absolute;
        bottom: 0;
        right: 30px;
        text-decoration: underline;
        @media screen and (min-width: 767px) {
            right: 350px;
        }
    }
    &-btn {
        background-color: $black;
        color: $white;
        font-size: 14px;
        padding: 20px 40px;
        border: 0;
        margin-top: 30px;
        &:hover {
            background-color: $kia-red;
        }
        @media screen and (min-width:767px) {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 100px;
        }
    }
    img {
        -webkit-animation: myMove 8s 1 ease-in-out;
        -moz-animation: myMove 8s 1 ease-in-out;
        -o-animation: myMove 8s 1 ease-in-out;
        -ms-animation: myMove 8s 1 ease-in-out;
        animation: myMove 8s 1 ease-in-out;
        margin-bottom: 100px;
        @media screen and (min-width: 1400px) {
            width: 100%;
        }
    }
}

.carousel3 {
    a {
        text-decoration: none;
        color: #FFF;
    }
    .slick-container {
        margin: 0 auto;
        width: 100%;
        color: #333;
        img {
            object-fit: cover;
            width: 100%;
            height: 500px;
        }
        .slider-img {
            position: relative;
        }
        h5 {
            font-size: 2.5rem;
            text-align: left;
            width: 50%;
        }
        .small-text {
            text-align: left;
            font-size: 12px;
            max-width: 200px;
        }
        .carousel-link {
            position: absolute;
            right: 15%;
            bottom: 30px;
            text-transform: capitalize;
        }
    }
    .slick-slide {
        text-align: center;
        color: #419be0;
        background: white;
    }
    .carousel-caption {
        bottom: 50px;
    }
}