.heroBanner {
    .carousel-item {
        @media screen and (max-width: 767px) {
            img {
                // transform: translateX(-30%);
                width: auto !important;
                height: 240px;
            }
        }
    }
    .carousel-indicators {
        justify-content: flex-end;
        margin-right: 0 !important;
        @media screen and (max-width: 767px) {
            justify-content: flex-start;
            margin-left: 5%;
            bottom: 50px;
        }
    }
    .carousel-indicators li {
        text-indent: 0;
        margin-right: 2%;
        color: #FFF;
        background-color: transparent;
        width: 65px;
        @media screen and (max-width: 767px) {
            width: auto;
        }
    }
    .carousel-indicators .active {
        background-color: red;
    }
    .carousel-caption {
        text-align: left;
        top: 10%;
        left: 5%;
        right: 0;
        width: 30%;
        @media screen and (max-width: 767px) {
            top: 10%;
            padding-top: 5px;
            width: 60%;
        }
    }
    h5 {
        font-family: designk-bold;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 20px;
        }
    }
    .small-text {
        font-size: 14px;
        line-height: 14px;
        @media screen and (max-width: 767px) {
            margin-bottom: 2px;
        }
    }
    .bold-text {
        font-family: designk-bold;
        @media screen and (max-width: 767px) {
            font-size: 14px;
        }
    }
    .sub-text {
        color: #E5E5E5;
        font-size: 12px;
    }
    .btn {
        font-size: 10px !important;
        font-weight: bold !important;
        border-radius: 0 !important;
        margin-right: 15px !important;
        background-color: $light-background;
        @media screen and (min-width: 767px) {
            padding: 16px 35px !important;
        }
        &:hover {
            background-color: $black;
            color: $light-background;
        }
    }
}