$kia-red: #BB162B;
$black:#000000; //Background, Text, UI, Accents
$charcoal: #1F1F1F; // Background
$med-gray:#666666; // - Text, UI, Accents
$gray-UI: #999999;
$white: #ffffff;
$light-background: #F2F2F2;
$light-gray: #cccdcc;
$placeholder-text: #ccc;
$body-color: #212529;
$dark-red:hsl(190, 0%, 00%);
$light-black:rgba(0, 0, 0, 0.125);
$footer-color: #ffffff;
$header-background: #F2F2F2;
$card-bg:#E9E9E9;
$border-color:rgba(0, 0, 0, 0.125);
$btn-background:#ffffff;
$bg-dark: #343a40;